#content{
	background: #f9f9f9;
    padding: 50px 0 50px 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;	
}

table {
	float: left;    
	margin: 0px;
	margin-right: 20px;  
	width: 480px;   
	text-align: center;    
}

th {
	padding: 8px;    
	background: #EFB4AD; 
}

th:hover{
	background-color: #F8DDDA;
}

td {
	padding: 8px;     
	background: #EFB4AD;   
	color: #000000;    
}

#botones{
	margin-top: 4%;
}

#invitarAmigos{
	padding: 10px;
	float: left;
	width: 35%;
	border-style: solid;
	border-width: 1px;
}

#invitarAmigos select{
	width: 50%;
	margin-bottom: 8px;
}