<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>TP Integrador - Grupo 81</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://bootstraptaste.com" />
<!-- css -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="css/jcarousel.css" rel="stylesheet" />
<link href="css/flexslider.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/login.css" rel="stylesheet" />
<!-- Theme skin -->
<link href="skins/default.css" rel="stylesheet" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with</label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                 <p class="form-title">Registrarse</p>
                <form class="login" style="background-image:url(img/SignUp/SignUp.png)">
                <input type="text" placeholder="Usuario"/>
                <input type="password" placeholder="Contraseña" />
                <input type="password" placeholder="Repetir contraseña" />
                <input type="text" placeholder="mail@algunServidor.com" />
                <input type="text" placeholder="Edad" />
                <input type="text" placeholder="Altura" />
                <input type="text" placeholder="Complexion" />
                <input type="text" placeholder="Condicion Preexistente" />
                <input type="text" placeholder="Rutina" />
                <input type="text" placeholder="Preferencias alimenticias" />
                
                <input type="submit" value="Registrarse" class="btn btn-success btn-sm" />
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>